    {%load static%}
    {%include 'base.html'%}
    
    
    <footer>
        <div id="contact" class="footer">
            <div class="container">
                <div class="row pdn-top-30">
                    <div class="col-md-12 ">
                        <div class="footer-box">
                            <div class="headinga">
                                <h3>მისამართი</h3>
                                <span>მარჯანიშვილის მეტროს მიმდებარედ, თბილისი, საქართველო</span>
                                <p>(+995) 555319498
                                    <br>begadze.zura@gmail.com</p>
                            </div>
                            <ul class="location_icon">
                                <li> <a href="https://www.facebook.com/zura.begadze.35"><i class="fa fa-facebook-f"></i></a></li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li> <a href="https://www.instagram.com/zura__begadze/?fbclid=IwAR1vx3qcyBmW_BhG4Rm0O4pRmCQ52gbf0Mxd97D-jUA8EsJ1dEcWEheIae8"><i class="fa fa-instagram"></i></a></li>

                            </ul>
                            <div class="menu-bottom">
                                <ul class="link">
                                    <li> <a href="home">Home</a></li>
                                    <li> <a href="discount_page">ფასდაკლებები</a></li>
                                    
                                    <li> <a href="mobiles">მობილურები </a></li>
                                    <li> <a href="accessories">აქსესუარები  </a></li>
                                    <li> <a href="contact"> Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>© 2021 All Rights Reserved. Design By<a href="https://www.facebook.com/zura.begadze.35"> Zura Begadze</a></p>
                </div>
            </div>
        </div>
    </footer>