{%load static %}
<title>{{search}}-MobilEra</title>
{%include 'base.html'%}

<body class="main-layout ">
    
    {%include "hed.html"%}    

    {%include "searchbar.html"%}


    <!-- brand -->
    <div class="brand">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>ძებნის შედეგები: {{search}} -ისთვის:</h2>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="brand-bg">
            <div class="container">
                
                <div class="row">
                    {% for post in posts %}
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                        <div class="brand_box">
                            <a href="{% url 'detail' post.id %}">
                              <img src="{{ post.image.url }}" alt="img/phones" />
                            </a>
                            {% if post.discount_price %}
                               <h4 class="red" style="text-decoration: line-through;">  {{post.price}} ₾ </h6>
                               <h4 class="red" > ფასდაკლება: -{{ post.discount_price }}% </h6>
                               <h3 class="red" > {{post.finalprice}}₾ </h3>
                            {% else %}
                              <h3> {{ post.price }} ₾ </h3>
                            {% endif %}
                            
                            <span><h1 href="{% url 'detail' post.id %}" >{{ post.title }}</h1></span>
                        </div>
                    </div>
                    {%endfor%}
                    <div class="col-md-12">
                        <a class="read-more">See More</a>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    <!-- footer -->
    <footer>
       {%include "footer.html"%}
    </footer>
</body>

</html>